@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

:root {
    --Orange-general: #FE5D14;
    --Blue-primary: #0e1438;
    --Blue-secundary: #131944;
    --White-general: white;
    --Black-general: black;
    --Text-general: #61657E
}
.iconsBTGFacebok,
.iconsBTGInsta{
    font-size: 40px;
}

.iconsBTGInsta{
    background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040, #FFC837, #4CAF50, #0057B5);
    background-clip: text;
    color: transparent; 
}
.iconsBTGFacebok{
    color: #0057B5;
}

.iconsBTGwha {
    color: var(--whiteGeneral);
}
#btn-mas {
    display: none;
}

.containerBtnFixed {
    position: fixed;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes a,
.icon-mas2 {
    display: block;
    text-decoration: none;
    color: var(--White-general);
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    border-radius: 100%;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease;
}

.icon-mas2 {
    line-height: 62px;
    cursor: pointer;
    font-size: 20px;
    background-color: var(--Orange-general);
    color: var(--White-general);
}

.redes a:hover {
    background-color: var(--titleSmall);
    color: var(--textBlueBold);
}

.redes a {
    margin: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~.redes a {
    margin-bottom: 20px;
    opacity: 1;
    visibility: visible;
}


#btn-mas:checked~.btn-mas .icon-mas2 {
    transform: rotate(90deg);
    font-size: 30px;
}

@media screen and (min-width: 1024px) {

    .redes a,
    .icon-mas2 {
        width: 65px;
        height: 65px;
        line-height: 65px;
    }

    .icon-mas2 {
        font-size: 20px;
    }

    #btn-mas:checked~.btn-mas .icon-mas2 {
        transform: rotate(90deg);
        font-size: 40px;
    }
}