@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    box-sizing: border-box;
}

:root {
    --Orange-general: ##FE5D14;
    --Blue-primary: #0e1438;
    --Blue-secundary: #131944;
    --White-general: white;
    --Black-general: black;
    --Text-general: #61657E;
}

main {
    padding-top: 100px;
}

.sectionHomeH1 {
    background: rgb(14, 20, 56);
    background: linear-gradient(0deg, rgba(97, 101, 126, 1) 17%, rgba(14, 20, 56, 1) 100%);
}

.titleHomeH1 {
    font-family: "Poppins", sans-serif;
    font-display: swap;
    font-size: 50px;
    line-height: 1.33;
    font-weight: 900;
    text-align: center;
    color: var(--White-general);
    padding-top: 70px;
    text-shadow: -3px -1px black;
}

.textHomeH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    padding: 40px 35px;
    text-align: center;
    color: var(--White-general);
}

.call24 {
    text-decoration: none;
}

.btn-HomeH1,
.btn-phone {
    background: var(--Orange-general);
    border: none;
    color: var(--White-general);
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    padding: 20px 31px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 40px;
}

.card {
    width: 23rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 270px;
}

.cnt-tH1,
.cnt-cardHome,
.ctn-aboutUs,
.cnt-callto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cnt-cardHome {
    padding: 64px 0;
    gap: 30px;
}

.btn-HomeH1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.btn-HomeH1 i {
    margin-left: 8px;
}

.card-title {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.card-text,
.spanCard {
    font-family: "DM Sans", sans-serif;
    color: var(--Text-general);
}

.btn-primary {
    background-color: var(--Orange-general);
    border: none;
    margin: 15px 0;
}

.bi-check-all {
    font-size: 25px;
    color: var(--Orange-general);
    padding-right: 8px;
}

.sectionAboutUs {
    padding: 20px;
}

.cnt-imgCollage {
    display: none;
}

.imgCollage {
    border-radius: 1rem;
}

.cnt-aboutUs {
    margin: 60px 10px 20px;
}

.spanAboutUs {
    font-size: 18px;
    color: var(--Orange-general);
    margin-bottom: 14px;
}

.titleAboutUs {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--Blue-primary);
}

.textAboutUs {
    font-size: 16px;
    line-height: 1.4;
    color: var(--Text-general);
    padding: 20px 0 10px;
}

.cnt-imgAbout {
    display: flex;
    align-items: center;
    margin: 30px 10px;
}

.cnt-icon {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(245, 198, 160);
    font-size: 30px;
    color: var(--tg-primary-color);
    margin-right: 15px;
}

.iconAbout {
    font-size: 40px;
    color: var(--Orange-general)
}

.textIcon {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--Blue-primary);
}

.btn-phone {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.bi-telephone-outbound-fill {
    font-size: 25px;
    padding-right: 10px;
}

.cnt-icon24 {
    margin-bottom: 80px;
}

.cnt-callto {
    background: linear-gradient(0deg, rgba(97, 101, 126, 1) -18%, rgba(14, 20, 56, 1) 62%);
    padding-bottom: 40px;
}

.titleCallTo {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    padding: 30px 0;
    color: var(--White-general);
    text-shadow: -2px -2px black;
}

.iconCallTo {
    padding: 10px 20px;
    background-color: var(--White-general);
    color: var(--Blue-primary);
    border-radius: 5px;
    margin-right: 20px;
    font-size: 40px;
}

.btn-phone {
    background: var(--Orange-general);
    border: none;
    color: var(--White-general);
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    padding: 30px 30px;
    text-align: center;
    border-radius: 4px;
}

.hiper {
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .textHomeH1 {
        padding: 40px 120px;
    }

    .cnt-cardHome {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        padding: 64px 0 100px;
    }

    .sectionAboutUs {
        padding: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .titleHomeH1 {
        padding: 70px 70px 0;
    }

    .textHomeH1 {
        padding: 40px 17rem;
    }

    .cnt-cardHome {
        gap: 30px;
    }

    .sectionAboutUs {
        display: flex;
    }

    .cnt-FatherAbout {
        width: 50%;
    }

    .cnt-imgCollage {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .imgCollage {
        width: 80%;
    }
}

@media screen and (min-width: 1440px) {

    .titleHomeH1 {
        padding: 70px 25rem 0;
    }

    .textHomeH1 {
        padding: 40px 28rem;
    }

    .sectionBody {
        margin: 0 auto;
        max-width: 1440px;
    }

    .card {
        width: 21rem;
    }

    .cnt-cardHome {
        gap: 10px;
    }

    .imgCollage {
        width: 65%;
    }

    .sectionAboutUs {
        padding: 80px 10%;
    }
}